/* components/NavigatorBar/index.wxss */

.navigator-bar {
  line-height: 1;
  box-sizing: border-box;
  transition: all .1s linear;
  background-color: var(--white);
  z-index: 99999;
  &-border {
    border-bottom: 1px solid var(--border-color);
  }
  &-title {
    font-family: 'Microsoft Yahei' sans-serif;
    font-weight: bold;
    color: var(--black);
  }
}
